<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/jesus.guio/Desktop/Final3/FinalExam_JesusGuio">
        <classes>
            <class name="Base.LoginTest"></class>
            <class name="Base.LogOutTest"></class>
            <class name="Base.CancelAccountTest"></class>
        </classes>
    </test>
</suite>